<!DOCTYPE html>
<html>
<head>
    <title>Sequence Comparison App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f4;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('sequence-form');
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                calculate();
            });
        });

        async function calculate() {
            const seq1_name = document.getElementById('seq1_name').value;
            const seq1 = document.getElementById('seq1').value;
            const seq2_name = document.getElementById('seq2_name').value;
            const seq2 = document.getElementById('seq2').value;        

            const calculations = ['percent_ident', 'percent_positives', 'substitutions', 'alignments'];
            const results = {};
            for (let calculation of calculations) {
                try {
                    const response = await fetch('/maia_align', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ seq1_name: seq1_name, seq1: seq1, seq2_name: seq2_name, seq2: seq2 })
                    });

                    if (response.ok) {
                        results[calculation] = await response.json();
                    } else {
                        results[calculation] = { 'N/A': 'Error occurred2' };
                    }
                } catch (error) {
                    console.error(error); // Log the error to the console
                    results[calculation] = { 'N/A': 'Error occurred3' };
                }
            }

            // Display the percentage_identities
            const percentageIdentitiesElement = document.getElementById('percent_ident');
            percentageIdentitiesElement.innerHTML = `Identity: ${results['percent_ident']['percent_ident']}`;

            // Display the seq_similarity
            const seqSimilarityElement = document.getElementById('percent_positives');
            seqSimilarityElement.innerHTML = `Similarity Percentage: ${results['percent_positives']['percent_positives']}`;

            // Display the substitutions
            const substitutionsElement = document.getElementById('substitutions');
            substitutionsElement.innerHTML = `Substitutions: ${results['substitutions']['substitutions']}`;

            // Display the alignment
            const alignmentElement = document.getElementById('alignments');
            alignmentElement.innerHTML = `Alignment:<br><pre>${results['alignments']['alignments']}</pre>`;

            // Display the errors
            const errorElement = document.getElementById('errors');
            const errors = Object.values(results).map(result => result.error).filter(error => error);
            if (errors.length > 0) {
                const errorList = errors.map(error => `<li>${error}</li>`).join('');
                errorElement.innerHTML = `<ul>${errorList}</ul>`;
            } else {
                errorElement.innerHTML = '';
            }
        }
    </script>
</head>
<body>
    <div class="container mx-auto px-4">
        <img src="{{ url_for('static', filename='SilicoLifeLogo_Green.png') }}" alt="Logo" class="img-fluid mb-3">
        <h1 class="text-3xl mb-3">Sequence Comparison App</h1>

        <div class="grid grid-cols-2 gap-4">
            <div>
                <form id="sequence-form">
                    <div class="form-group">
                        <label for="seq1_name">Sequence1 Name:</label>
                        <input type="text" name="seq1_name" id="seq1_name" class="form-control" value="Sequence 1">
                    </div>

                    <div class="form-group">
                        <label for="seq1" class="block text-lg font-bold mb-2">Sequence 1:</label>
                        <textarea name="seq1" id="seq1" rows="4" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="seq2_name">Sequence 2 Name:</label>
                        <input type="text" name="seq2_name" id="seq2_name" class="form-control" value="Sequence 2">
                    </div>

                    <div class="form-group">
                        <label for="seq2" class="block text-lg font-bold mb-2">Sequence 2:</label>
                        <textarea name="seq2" id="seq2" rows="4" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-auto">
                        Calculate
                    </button>
                </form>
            </div>
            <div>
                <div id="percent_ident" class="mt-3"></div>
                <div id="percent_positives" class="mt-3"></div>
                <div id="substitutions" class="mt-3"></div>
                <div id="alignments" class="mt-3"></div>
                <div id="errors" class="mt-3"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
